//primary
$Verydarkbluemainbackground: hsl(233, 47%, 7%);
$Darkdesaturatedbluecardbackground: hsl(244, 38%, 16%);
$Softvioletaccent: hsl(277, 64%, 61%);

//neutral
$Whitemainheadingstats: hsl(0, 0%, 100%);
$Slightlytransparentwhitemainparagraph: hsla(0, 0%, 100%, 0.75);
$Slightlytransparenwhitestatheadings: hsla(0, 0%, 100%, 0.6);

//font
$inter: 'Inter', sans-serif;
$lexed: 'Lexend Deca', sans-serif;